.nav-nav {
    background-color: #9fecbf !important;
}

#logo {
    background-color: #4fe46f;
    padding: 8px;
    border-radius: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    background-color: lightgray;
}

.main-box {
    background-color: aliceblue;
    margin-top: 40px;
    padding: 20px;
}

.right-side-box {
    background-color: aliceblue;
    margin-top: 40px;
    padding: 20px;
}

h1 {
    color: #4fe46f;
}

h2 {
    color: #4fe46f;
}

#main-img {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.thumbs {
    margin-bottom: 10px;
}

.lefties {
    margin-right: 10px;
}